body{
  height: 100vh;
}

menu{
   position : relative; 
}

button{
    border-radius: 6%;  
}

.input-inicio {
    border-radius: 10%;
    margin:2%; 
    display: flex;
    display: -webkit-inline-flex;   
}

.container-nombre{
  display: flex;
  margin: auto;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 600px;
  width: 100%;
}

.pedido {
    padding: 0;
    background: rgb(194, 15, 15);
    } 

body{
    /* background-image: url(../img/burguesa1.jpg); */
    background-size: 100%; 
    background-position: center;
    background-size: auto;
/* background-repeat: no-repeat; */
}

cite {
    color: blanchedalmond;
}
.color-blanco{
    color: antiquewhite
}
/* flex */