menu{
   position : relative; 
}
button{
    border-radius: 10%;
}

.input-inicio {
    border-radius: 10%;
}
.pedido {
    padding: 0
}
.container {
    /* background-color: rgba(197, 115, 15, 0.863); */
}
/* 
.comida {
    background-image: url(../img/burguesa1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
} */
body{
    background-image: url(../img/burguesa1.jpg);
    background-size: 100%;  
    /* background-color: rgba(0, 0, 0, 0.795); */
background-repeat: no-repeat;
}

cite {
    color: blanchedalmond;
}
/* flex */